#first{
    width: 300px;
    height: auto;
    border: 1px solid #000;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: aqua;
    text-align: end;
    float: left;
}
#first h1{
    color: green;
}
#second{
    margin-top: 10px;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    background-image: url(../Images/mountain.jpg);
    background-repeat: no-repeat;
    float: right;

    display: flex;
    align-items: center;
    justify-content: center;
}
#inner{
    width: 300px;
    height: 100px;
    border: 1px solid #fff;
    text-align: center;
    color: bisque;
    backdrop-filter: hue-rotate(180deg);
    /* backdrop-filter: sepia(50%); */
}
:is(#first, #second) h2{
    color: green;
}
.table{
    margin: 0 auto;
    width: 300px;
    display: table;
    clear: both;
    padding: 5px;
}
.table-header{
    display: table-header-group;
    background-color: yellowgreen;
}
.table-row-group{
    display: table-row-group;
    background-color: pink;
}
.row{
    display: table-row;
    border: 1px solid black;
    padding: 5px;
}
.col{
    display: table-cell;
    border: 1px solid black;
    padding: 5px;
}
.table-footer{
    display: table-footer-group;
    background-color: cadetblue;
}